<h2>{{ (team | async)?.name }}</h2>

<div *ngIf="!players">
  <div>You have no players on {{ (team | async)?.name }}. Create one now!</div>
</div>

<div *ngIf="players" class="container">
  <div class="col">
    <table class="table hover table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Name</th>
          <th>Games</th>
          <th>Goals</th>
          <th>Assists</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players | async">
          <td>
            <a [routerLink]="['player', player.$key]">{{player.name}}</a>
          </td>
          <td>
            <button (click)="incGames(player.$key)">+</button>
            {{player.games}}
            <button (click)="decGames(player.$key)">-</button>
          </td>
          <td>
            <button (click)="incGoals(player.$key)">+</button>
            {{player.goals}}
            <button (click)="decGoals(player.$key)">-</button>
          </td>
          <td>
            <button (click)="incAssists(player.$key)">+</button>
            {{player.assists}}
            <button (click)="decAssists(player.$key)">-</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


<div>
  <label for="teamName">Player Name: </label>
  <form #newPlayer>
    <input type="text" id="teamName" #name>
    <button class="button" type="submit" (click)="addPlayer(name.value); newPlayer.reset()">Add Player</button>
  </form>
</div>

